<!DOCTYPE html>
<html>
 <head>
   <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
   <link rel="stylesheet" href="css/main.css">
   <title>Nuestras coders</title>
 </head>

 <body>

   <h3 class="coders">Nuestras coders</h3>
   <hr>
  <div class="images">
    <div>
       <img src="assets/images/prueba.jpg" alt="Imagen-Prueba" class="gallery">
       <p class="text">Nombre Apellido</p>
   </div>

    <div>
       <img src="assets/images/prueba.jpg" alt="Imagen-Prueba" class="gallery">
       <p class="text">Nombre Apellido</p>
    </div>

    <div>
       <img src="assets/images/prueba.jpg" alt="Imagen-Prueba" class="gallery">
       <p class="text">Nombre Apellido</p>
    </div>
   </div>

    <div class="images">
      <div>
         <img src="assets/images/prueba.jpg" alt="Imagen-Prueba" class="gallery">
         <p class="text">Nombre Apellido</p>
      </div>

      <div>
         <img src="assets/images/prueba.jpg" alt="Imagen-Prueba" class="gallery">
         <p class="text">Nombre Apellido</p>
      </div>

      <div>
         <img src="assets/images/prueba.jpg" alt="Imagen-Prueba" class="gallery">
         <p class="text">Nombre Apellido</p>
      </div>
   </div>
 </body>
</html>
